Repository dnd-side-project/dnd-6th-1-iOS, pull requests merged in 2022-03, with the labels that each got.

#85 Chore/#78 code refactoring
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/Notification+Name.swift
  ITZZA/ITZZA/Global/Factory/Array+.swift
  ITZZA/ITZZA/Global/Network/APISession.swift
  ITZZA/ITZZA/Screen/Community/Model/CommentModel.swift
  ITZZA/ITZZA/Screen/Community/Model/EmptyModel.swift
  ITZZA/ITZZA/Screen/Community/Model/MyRecordModel.swift
  ITZZA/ITZZA/Screen/Community/Model/PostManager.swift
  ITZZA/ITZZA/Screen/Community/Model/PostModel.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/AddPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CategoryVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CommunityVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/PostDetailVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/SearchPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/UserPostListVC.swift
  ITZZA/ITZZA/Screen/Community/View/Storyboard/PostDetail.storyboard
  ITZZA/ITZZA/Screen/Community/Xib/CommentTVC.xib
  ITZZA/ITZZA/Screen/Community/XibController/CommentTVC.swift
  ITZZA/ITZZA/Screen/Community/XibController/MenuBottomSheet.swift
  ITZZA/ITZZA/Screen/Community/XibController/PostButtonsView.swift
  ITZZA/ITZZA/Screen/Enum/AlertType.swift
  ITZZA/ITZZA/Screen/Mypage/View/Controller/MyRecordVC.swift
  ITZZA/ITZZA/Screen/Onboarding/OnboardingVC.swift
  ITZZA/ITZZA/Screen/Share/Xib/AlertView.xib
  ITZZA/ITZZA/Screen/Share/XibControllers/AlertView.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/KeywordContentView.swift
  ITZZA/ITZZA/Support/Assets.xcassets/Logo-1.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Logo-1.imageset/Logo.png
  ITZZA/ITZZA/Support/Assets.xcassets/Logo.imageset/Contents.json
Labels: 윤경, View, Chore, Refactor, Network

#88 Feat/#86 comment create edit
  ITZZA/ITZZA/Global/Extension/Notification+Name.swift
  ITZZA/ITZZA/Global/Extension/UIViewController+.swift
  ITZZA/ITZZA/Global/Network/APISession.swift
  ITZZA/ITZZA/Screen/Community/Model/CommentModel.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/AddPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CategoryVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/PostDetailVC.swift
  ITZZA/ITZZA/Screen/Community/XibController/ChatInputView.swift
  ITZZA/ITZZA/Screen/Community/XibController/CommentTVC.swift
  ITZZA/ITZZA/Screen/Community/XibController/MenuBottomSheet.swift
  ITZZA/ITZZA/Screen/Enum/AlertType.swift
  ITZZA/ITZZA/Screen/Share/Xib/PostWriteView.xib
  ITZZA/ITZZA/Screen/Share/XibControllers/PostWriteView.swift
Labels: 윤경, 커뮤니티, View, Feature, Network

#89 [FEAT]: 일기 수정 및 삭제 기능
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/UIViewController+.swift
  ITZZA/ITZZA/Global/Network/APISession.swift
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Community/XibController/MenuBottomSheet.swift
  ITZZA/ITZZA/Screen/Home/Model/DeleteDiaryModel.swift
  ITZZA/ITZZA/Screen/Home/Model/HomeModel.swift
  ITZZA/ITZZA/Screen/Home/View/Controller/DiaryVC.swift
  ITZZA/ITZZA/Screen/Home/View/Controller/HomeVC.swift
  ITZZA/ITZZA/Screen/Home/View/Controller/WriteDiaryVC.swift
  ITZZA/ITZZA/Screen/Home/View/Shared/Xib/DiaryView.xib
  ITZZA/ITZZA/Screen/Home/View/Shared/XibController/DiaryView.swift
  ITZZA/ITZZA/Screen/Home/ViewModel/HomeVM.swift
  ITZZA/ITZZA/Screen/Home/ViewModel/WriteDiaryVM.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/AddedImageCVC.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/ImageCollectionView.swift
  ITZZA/ITZZA/Support/AppDelegate.swift
  ITZZA/ITZZA/Support/Assets.xcassets/Logo.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Report_Image.imageset/Contents.json
Labels: 인제, 홈(다이어리)탭, Priority: Low, Feature, Network

#91 [FEAT]: Alarm 화면 구성
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/NavigationController+.swift
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Home/Model/HomeAlarmModel.swift
  ITZZA/ITZZA/Screen/Home/View/Controller/HomeAlarmCell.swift
  ITZZA/ITZZA/Screen/Home/View/Controller/HomeAlarmTVC.swift
  ITZZA/ITZZA/Screen/Home/View/Controller/HomeVC.swift
  ITZZA/ITZZA/Screen/Home/View/Shared/Xib/HomeAlarmCell.xib
  ITZZA/ITZZA/Screen/Home/View/Storyboard/HomeAlarm.storyboard
  ITZZA/ITZZA/Screen/Home/ViewModel/HomeAlarmVM.swift
  ITZZA/ITZZA/Support/AppDelegate.swift
  ITZZA/ITZZA/Support/Assets.xcassets/Alarm.imageset/Alarm.png
  ITZZA/ITZZA/Support/Assets.xcassets/Alarm.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/NewAlarm.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/NewAlarm.imageset/NewAlarm.png
Labels: 인제, 홈(다이어리)탭, View, Priority: Medium, Feature

#95 Chore/#94 common code edit
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/NavigationController+.swift
  ITZZA/ITZZA/Global/Extension/UIViewController+.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/AddPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CategoryVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CommunityVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/PostDetailVC.swift
  ITZZA/ITZZA/Screen/Community/XibController/CommentTVC.swift
  ITZZA/ITZZA/Screen/Community/XibController/MenuBottomSheet.swift
  ITZZA/ITZZA/Screen/Enum/AlertType.swift
  ITZZA/ITZZA/Screen/Enum/ToastType.swift
  ITZZA/ITZZA/Screen/Home/View/Controller/HomeAlarmTVC.swift
  ITZZA/ITZZA/Screen/Home/View/Controller/HomeVC.swift
  ITZZA/ITZZA/Screen/Mypage/View/Controller/MypageVC.swift
  ITZZA/ITZZA/Screen/Mypage/View/Storyboard/Report.storyboard
  ITZZA/ITZZA/Screen/Share/XibControllers/AlertView.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/SignInVC.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/SignUpVC.swift
  ITZZA/ITZZA/Support/AppDelegate.swift
Labels: Priority: Medium, Chore

#96 View/#93 find password UI
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Factory/TypeOfViewController.swift
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/FindPasswordVC.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/SignInVC.swift
  ITZZA/ITZZA/Screen/Sign/View/Storyboard/FindPassword.storyboard
  ITZZA/ITZZA/Screen/Sign/View/Storyboard/SignIn.storyboard
Labels: 인제, View, Priority: Low, 계정관리

#100 [FEAT]: 로그아웃 및 회원탈퇴
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/NavigationController+.swift
  ITZZA/ITZZA/Global/Factory/TypeOfViewController.swift
  ITZZA/ITZZA/Global/Network/APISession.swift
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Enum/ToastType.swift
  ITZZA/ITZZA/Screen/Mypage/Model/SignOutModel.swift
  ITZZA/ITZZA/Screen/Mypage/View/Controller/MypageVC.swift
  ITZZA/ITZZA/Screen/Mypage/View/Controller/WithdrawalVC.swift
  ITZZA/ITZZA/Screen/Mypage/View/Storyboard/Mypage.storyboard
  ITZZA/ITZZA/Screen/Mypage/View/Storyboard/Withdrawal.storyboard
  ITZZA/ITZZA/Screen/Mypage/ViewModel/MypageVM.swift
  ITZZA/ITZZA/Screen/Mypage/ViewModel/WithdrawalVM.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/FindPasswordVC.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/SignInVC.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/SignUpVC.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/NicknameVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignInVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignUpVM.swift
  ITZZA/ITZZA/Support/Assets.xcassets/Withdrawal.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Withdrawal.imageset/Withdrawal.png
Labels: 인제, 마이페이지, Priority: Low, Feature, Network, 계정관리

#103 Feat/#99 report network
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/Notification+Name.swift
  ITZZA/ITZZA/Global/Extension/UIStackView+.swift
  ITZZA/ITZZA/Global/Extension/UIViewController+.swift
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Community/Model/PostModel.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CategoryVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/PostDetailVC.swift
  ITZZA/ITZZA/Screen/Enum/Emoji.swift
  ITZZA/ITZZA/Screen/Enum/ToastType.swift
  ITZZA/ITZZA/Screen/Home/Model/HomeModel.swift
  ITZZA/ITZZA/Screen/Mypage/Cell/CVC/EmotionAnalyzeCVC.swift
  ITZZA/ITZZA/Screen/Mypage/Cell/CVC/EmotionAnalyzeCVC.xib
  ITZZA/ITZZA/Screen/Mypage/Cell/CVC/EmotionListCVC.swift
  ITZZA/ITZZA/Screen/Mypage/Cell/CVC/EmotionListCVC.xib
  ITZZA/ITZZA/Screen/Mypage/Cell/CVC/EmotionRankCVC.swift
  ITZZA/ITZZA/Screen/Mypage/Cell/TVC/SelectTVC.swift
  ITZZA/ITZZA/Screen/Mypage/Cell/TVC/SelectTVC.xib
  ITZZA/ITZZA/Screen/Mypage/Cell/TVC/l.swift
  ITZZA/ITZZA/Screen/Mypage/Model/ReportModel.swift
  ITZZA/ITZZA/Screen/Mypage/View/Controller/MyRecordVC.swift
  ITZZA/ITZZA/Screen/Mypage/View/Controller/ReportVC.swift
  ITZZA/ITZZA/Screen/Mypage/View/Share/Xib/SelectAlertTV.xib
  ITZZA/ITZZA/Screen/Mypage/View/Share/Xib/TipView.xib
  ITZZA/ITZZA/Screen/Mypage/View/Share/XibController/EmotionAnalyzeView.swift
  ITZZA/ITZZA/Screen/Mypage/View/Share/XibController/SelectAlertTV.swift
  ITZZA/ITZZA/Screen/Mypage/View/Share/XibController/TipView.swift
  ITZZA/ITZZA/Screen/Mypage/View/Storyboard/Report.storyboard
  ITZZA/ITZZA/Screen/Share/Xib/ToastView.xib
  ITZZA/ITZZA/Screen/Share/XibControllers/ToastView.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/FindPasswordVC.swift
Labels: 윤경, 마이페이지, View, Priority: Medium, Feature, Network

#106 [FIX]: FindPasswordVC, SignInVC toastView rename
  ITZZA/ITZZA/Screen/Sign/View/Controller/FindPasswordVC.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/SignInVC.swift
Labels: Priority: Critical, Chore

#102 [FEAT]: 비밀번호 찾기 구현 및 API Session 수정
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Network/APISession.swift
  ITZZA/ITZZA/Screen/Sign/Model/FindPasswordModel.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/FindPasswordVC.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/SignUpVC.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/FindPasswordVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/NicknameVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignInVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignUpVM.swift
  ITZZA/ITZZA/Support/Assets.xcassets/Logo.imageset/Contents.json
Labels: 인제, Priority: Low, Feature, Network, 계정관리

#107 [FIX]: 서버 URL 수정
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Screen/Community/View/Controller/AddPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CategoryVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/PostDetailVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/SearchPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/UserPostListVC.swift
  ITZZA/ITZZA/Screen/Community/XibController/MenuBottomSheet.swift
  ITZZA/ITZZA/Screen/Community/XibController/PostButtonsView.swift
  ITZZA/ITZZA/Screen/Home/ViewModel/HomeVM.swift
  ITZZA/ITZZA/Screen/Home/ViewModel/WriteDiaryVM.swift
  ITZZA/ITZZA/Screen/Mypage/View/Controller/MyRecordVC.swift
  ITZZA/ITZZA/Screen/Mypage/View/Controller/ReportVC.swift
  ITZZA/ITZZA/Screen/Mypage/ViewModel/MypageVM.swift
  ITZZA/ITZZA/Screen/Mypage/ViewModel/WithdrawalVM.swift
  ITZZA/ITZZA/Screen/Sign/View/Shared/Xib/EmailView.xib
  ITZZA/ITZZA/Screen/Sign/ViewModel/FindPasswordVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/NicknameVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignInVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignUpVM.swift
Labels: bug, Fix
