Repository dnd-side-project/dnd-6th-1-iOS, pull requests merged in 2022-02, with the labels that each got.

#7 Feat/#5 community home
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/NavigationController+.swift
  ITZZA/ITZZA/Global/Factory/TypeOfViewController.swift
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Community/Cell/TVC/PostTVC.swift
  ITZZA/ITZZA/Screen/Community/Cell/TVC/h.swift
  ITZZA/ITZZA/Screen/Community/ImageAddBar.swift
  ITZZA/ITZZA/Screen/Community/ImageAddBar.xib
  ITZZA/ITZZA/Screen/Community/Model/PostDataSource.swift
  ITZZA/ITZZA/Screen/Community/Model/PostModel.swift
  ITZZA/ITZZA/Screen/Community/Model/f.swift
  ITZZA/ITZZA/Screen/Community/PostButtonsView.swift
  ITZZA/ITZZA/Screen/Community/PostButtonsView.xib
  ITZZA/ITZZA/Screen/Community/ProfileHeaderView.swift
  ITZZA/ITZZA/Screen/Community/ProfileHeaderView.xib
  ITZZA/ITZZA/Screen/Community/View/Controller/AddPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CategoryVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CommunityNC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CommunityVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/SearchPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Storyboard/AddPost.storyboard
  ITZZA/ITZZA/Screen/Community/View/Storyboard/Category.storyboard
  ITZZA/ITZZA/Screen/Community/View/Storyboard/Community.storyboard
  ITZZA/ITZZA/Screen/Community/View/Storyboard/SearchPost.storyboard
  ITZZA/ITZZA/Screen/Community/ViewModel/CommunityVM.swift
  ITZZA/ITZZA/Screen/Community/ViewModel/e.swift
  ITZZA/ITZZA/Screen/TabBar/Storyboard/TabBar.storyboard
  ITZZA/Podfile
  ITZZA/Podfile.lock
Labels: 윤경, View, Priority: Medium, Feature

#10 Feat/#3 login
  .DS_Store
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/Data+.swift
  ITZZA/ITZZA/Global/Extension/KeychainWrapper+.swift
  ITZZA/ITZZA/Global/Extension/UIColor+.swift
  ITZZA/ITZZA/Global/Extension/UIImage+.swift
  ITZZA/ITZZA/Global/Extension/UIViewController+.swift
  ITZZA/ITZZA/Global/Factory/TypeOfViewController.swift
  ITZZA/ITZZA/Global/Network/APIError.swift
  ITZZA/ITZZA/Global/Network/APIService.swift
  ITZZA/ITZZA/Global/Network/APISession.swift
  ITZZA/ITZZA/Global/Service/Service.swift
  ITZZA/ITZZA/Global/Service/ServiceLogin.swift
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Home/View/Controller/HomeVC.swift
  ITZZA/ITZZA/Screen/Sign/Model/SignInModel.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/SignInVC.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/SignUpVC.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/SignVC.swift
  ITZZA/ITZZA/Screen/Sign/View/Storyboard/SignIn.storyboard
  ITZZA/ITZZA/Screen/Sign/View/Storyboard/SignUp.storyboard
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignInVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignUpVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignVM.swift
  ITZZA/ITZZA/Screen/TabBar/Controller/ITZZATBC.swift
  ITZZA/ITZZA/Support/AppDelegate.swift
  ITZZA/ITZZA/Support/Assets.xcassets/Emoji_Angry.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Emoji_Angry.imageset/Group 381.png
  ITZZA/ITZZA/Support/Assets.xcassets/Emoji_Comfy.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Emoji_Comfy.imageset/Group 378.png
  ITZZA/ITZZA/Support/Assets.xcassets/Emoji_Confuse.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Emoji_Confuse.imageset/Group 379.png
  ITZZA/ITZZA/Support/Assets.xcassets/Emoji_Lonely.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Emoji_Lonely.imageset/Group 326.png
  ITZZA/ITZZA/Support/Assets.xcassets/Emoji_Sad.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Emoji_Sad.imageset/Group 380.png
  ITZZA/ITZZA/Support/Assets.xcassets/GrayEmoji_Comfy.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/GrayEmoji_Comfy.imageset/GrayEmoji_Comfy.png
  ITZZA/ITZZA/Support/Assets.xcassets/GrayEmoji_Confuse.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/GrayEmoji_Confuse.imageset/GrayEmoji_Confuse.png
  ITZZA/ITZZA/Support/Assets.xcassets/GrayEmoji_Sad.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/GrayEmoji_Sad.imageset/GrayEmoji_Sad.png
  ITZZA/ITZZA/Support/Assets.xcassets/SaveSignInStatusFill.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/SaveSignInStatusFill.imageset/SaveLoginStatusFill.png
  ITZZA/ITZZA/Support/Assets.xcassets/SaveSignInStatusOutline.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/SaveSignInStatusOutline.imageset/SaveLoginStatusOutline.png
  ITZZA/ITZZA/Support/Assets.xcassets/Speech_First.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Speech_First.imageset/Speech_First.png
  ITZZA/ITZZA/Support/Assets.xcassets/Speech_Fourth.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Speech_Fourth.imageset/Speech_Last.png
  ITZZA/ITZZA/Support/Assets.xcassets/Speech_Second.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Speech_Second.imageset/Speech_Second.png
  ITZZA/ITZZA/Support/Assets.xcassets/Speech_Third.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Speech_Third.imageset/Speech_Third.png
  ITZZA/Podfile
  ITZZA/Podfile.lock
Labels: 인제, View, Priority: Medium, Feature

#12 [FEAT]: 버튼과 progressBar 동기화 + 화면 전환
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/Array+.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/SignUpVC.swift
  ITZZA/ITZZA/Screen/Sign/View/Storyboard/SignUp.storyboard
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignUpVM.swift
Labels: 인제, View, Priority: High, Feature

#13 Chore/#8 커뮤니티 버튼 탭 이벤트 추가, 카테고리 수정
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/UIButton+.swift
  ITZZA/ITZZA/Global/Factory/TypeOfViewController.swift
  ITZZA/ITZZA/Screen/Community/Cell/TVC/PostTVC.swift
  ITZZA/ITZZA/Screen/Community/Model/PostDataSource.swift
  ITZZA/ITZZA/Screen/Community/PostButtonsView.swift
  ITZZA/ITZZA/Screen/Community/PostButtonsView.xib
  ITZZA/ITZZA/Screen/Community/ProfileHeaderView.xib
  ITZZA/ITZZA/Screen/Community/View/Controller/CategoryVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CommunityVC.swift
  ITZZA/ITZZA/Screen/Community/View/Storyboard/Category.storyboard
  ITZZA/ITZZA/Screen/Community/ViewModel/CommunityVM.swift
  ITZZA/Podfile
  ITZZA/Podfile.lock
Labels: 윤경, 커뮤니티, View, Priority: High, Chore

#16 Chore/#15 UI view nib, xib
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/UITextField+.swift
  ITZZA/ITZZA/Global/Extension/UITextView+.swift
  ITZZA/ITZZA/Global/Extension/UIView+.swift
  ITZZA/ITZZA/Global/Factory/TypeOfViewController.swift
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Community/Cell/TVC/CommentCountTVC.swift
  ITZZA/ITZZA/Screen/Community/Cell/TVC/PostTVC.swift
  ITZZA/ITZZA/Screen/Community/ChatInputView.swift
  ITZZA/ITZZA/Screen/Community/ChatInputView.xib
  ITZZA/ITZZA/Screen/Community/CommentTVC.swift
  ITZZA/ITZZA/Screen/Community/CommentTVC.xib
  ITZZA/ITZZA/Screen/Community/ImageAddBar.swift
  ITZZA/ITZZA/Screen/Community/ImageAddBar.xib
  ITZZA/ITZZA/Screen/Community/PostButtonsView.swift
  ITZZA/ITZZA/Screen/Community/PostButtonsView.xib
  ITZZA/ITZZA/Screen/Community/PostContentView.swift
  ITZZA/ITZZA/Screen/Community/PostContentView.xib
  ITZZA/ITZZA/Screen/Community/ProfileHeaderView.swift
  ITZZA/ITZZA/Screen/Community/ProfileHeaderView.xib
  ITZZA/ITZZA/Screen/Community/View/Controller/CategoryVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CommunityVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/PostDetailVC.swift
  ITZZA/ITZZA/Screen/Community/View/Storyboard/Category.storyboard
  ITZZA/ITZZA/Screen/Community/View/Storyboard/Community.storyboard
  ITZZA/ITZZA/Screen/Community/View/Storyboard/PostDetail.storyboard
  ITZZA/Podfile.lock
Labels: 윤경, 인제, View, Priority: Medium, Chore

#18 [FEAT]: 게시글 상세 뷰
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/UILabel+.swift
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Community/ChatInputView.swift
  ITZZA/ITZZA/Screen/Community/ImageAddBar.swift
  ITZZA/ITZZA/Screen/Community/PostButtonsView.swift
  ITZZA/ITZZA/Screen/Community/PostContentTableViewHeader.swift
  ITZZA/ITZZA/Screen/Community/PostContentTableViewHeader.xib
  ITZZA/ITZZA/Screen/Community/PostContentView.swift
  ITZZA/ITZZA/Screen/Community/PostContentView.xib
  ITZZA/ITZZA/Screen/Community/ProfileHeaderView.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CategoryVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/PostDetailVC.swift
  ITZZA/ITZZA/Screen/Community/View/Storyboard/Category.storyboard
  ITZZA/ITZZA/Screen/Community/View/Storyboard/PostDetail.storyboard
Labels: 윤경, 커뮤니티, View, Priority: Medium, Feature

#22 Feat/#11 sign up button action
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/UIView+.swift
  ITZZA/ITZZA/Global/Extension/UIViewController+.swift
  ITZZA/ITZZA/Global/Literal/Literal.swift
  ITZZA/ITZZA/Global/Network/APIService.swift
  ITZZA/ITZZA/Global/Network/APISession.swift
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Global/Validation/Validation.swift
  ITZZA/ITZZA/Screen/Sign/Model/NicknameModel.swift
  ITZZA/ITZZA/Screen/Sign/Model/SignInModel.swift
  ITZZA/ITZZA/Screen/Sign/Model/SignUpModel.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/AgreementView.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/EmailView.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/NicknameView.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/PasswordView.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/SignInVC.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/SignUpVC.swift
  ITZZA/ITZZA/Screen/Sign/View/Storyboard/AgreementView.xib
  ITZZA/ITZZA/Screen/Sign/View/Storyboard/EmailView.xib
  ITZZA/ITZZA/Screen/Sign/View/Storyboard/NicknameView.xib
  ITZZA/ITZZA/Screen/Sign/View/Storyboard/PasswordView.xib
  ITZZA/ITZZA/Screen/Sign/View/Storyboard/SignIn.storyboard
  ITZZA/ITZZA/Screen/Sign/View/Storyboard/SignUp.storyboard
  ITZZA/ITZZA/Screen/Sign/ViewModel/AgreementVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/EmailVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/NicknameVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/PasswordVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignInVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignUpVM.swift
  ITZZA/ITZZA/Support/Agreement.txt
  ITZZA/ITZZA/Support/Assets.xcassets/CheckBoxFill.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/CheckBoxFill.imageset/SaveLoginStatusFill.png
  ITZZA/ITZZA/Support/Assets.xcassets/CheckBoxOutline.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/CheckBoxOutline.imageset/SaveLoginStatusOutline.png
  ITZZA/ITZZA/Support/Info.plist
  ITZZA/Podfile
  ITZZA/Podfile.lock
Labels: 인제, Priority: High, Feature

#23 Feat/#20 community api
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Factory/TypeOfViewController.swift
  ITZZA/ITZZA/Screen/Community/Cell/TVC/PostTVC.swift
  ITZZA/ITZZA/Screen/Community/CommunityVM.swift
  ITZZA/ITZZA/Screen/Community/Model/CommunityType.swift
  ITZZA/ITZZA/Screen/Community/Model/PostManager.swift
  ITZZA/ITZZA/Screen/Community/Model/PostModel.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CategoryVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CommunityVC.swift
Labels: 윤경, 커뮤니티, Feature, Network

#26 Chore/#17 sign in auto layout
  ITZZA/ITZZA/Screen/Community/ChatInputView.swift
  ITZZA/ITZZA/Screen/Community/ImageAddBar.swift
  ITZZA/ITZZA/Screen/Community/PostButtonsView.swift
  ITZZA/ITZZA/Screen/Community/PostContentTableViewHeader.swift
  ITZZA/ITZZA/Screen/Community/PostContentView.swift
  ITZZA/ITZZA/Screen/Community/ProfileHeaderView.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/SignInVC.swift
  ITZZA/ITZZA/Screen/Sign/View/Storyboard/SignIn.storyboard
  ITZZA/ITZZA/Support/Assets.xcassets/Logo.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Logo.imageset/Logo.png
Labels: 인제, View, Priority: Low, Chore

#28 [FEAT]: Access Token을 Keychain에 저장 및 싱글톤으로 관리
  ITZZA/ITZZA/Global/Extension/KeychainWrapper+.swift
  ITZZA/ITZZA/Screen/Home/View/Controller/HomeVC.swift
  ITZZA/ITZZA/Screen/Sign/Model/SignInModel.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignInVM.swift
  ITZZA/ITZZA/Support/AppDelegate.swift
Labels: 인제, Priority: Medium, Feature

#31 Feat/#19 add post view UI
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/UITextView+.swift
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Community/CategoryBottomSheetVC.swift
  ITZZA/ITZZA/Screen/Community/Cell/CVC/AddedImageCVC.swift
  ITZZA/ITZZA/Screen/Community/Cell/CVC/g.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/AddPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Storyboard/AddPost.storyboard
  ITZZA/ITZZA/Support/Info.plist
  ITZZA/Podfile
  ITZZA/Podfile.lock
Labels: 윤경, 커뮤니티, View, Priority: Medium, Feature

#35 Chore/#34 community layout
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/NavigationController+.swift
  ITZZA/ITZZA/Screen/Community/Cell/TVC/PostTVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/AddPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CommunityVC.swift
  ITZZA/ITZZA/Screen/Community/View/Storyboard/AddPost.storyboard
  ITZZA/ITZZA/Screen/Community/View/Storyboard/Category.storyboard
  ITZZA/ITZZA/Screen/Community/View/Storyboard/Community.storyboard
  ITZZA/ITZZA/Screen/Community/View/Storyboard/PostDetail.storyboard
  ITZZA/ITZZA/Screen/Community/Xib/ChatInputView.xib
  ITZZA/ITZZA/Screen/Community/Xib/CommentTVC.xib
  ITZZA/ITZZA/Screen/Community/Xib/ImageAddBar.xib
  ITZZA/ITZZA/Screen/Community/Xib/PostButtonsView.xib
  ITZZA/ITZZA/Screen/Community/Xib/PostContentTableViewHeader.xib
  ITZZA/ITZZA/Screen/Community/Xib/PostContentView.xib
  ITZZA/ITZZA/Screen/Community/Xib/ProfileHeaderView.xib
  ITZZA/ITZZA/Screen/Community/XibController/CategoryBottomSheetVC.swift
  ITZZA/ITZZA/Screen/Community/XibController/ChatInputView.swift
  ITZZA/ITZZA/Screen/Community/XibController/CommentTVC.swift
  ITZZA/ITZZA/Screen/Community/XibController/ImageAddBar.swift
  ITZZA/ITZZA/Screen/Community/XibController/PostButtonsView.swift
  ITZZA/ITZZA/Screen/Community/XibController/PostContentTableViewHeader.swift
  ITZZA/ITZZA/Screen/Community/XibController/PostContentView.swift
  ITZZA/ITZZA/Screen/Community/XibController/ProfileHeaderView.swift
Labels: 커뮤니티, View, Priority: Medium, Chore

#37 Chore/#36 common view
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/Notification+Name.swift
  ITZZA/ITZZA/Global/Extension/UITextField+.swift
  ITZZA/ITZZA/Global/Extension/UITextView+.swift
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Community/Cell/TVC/PostTVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/AddPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/PostDetailVC.swift
  ITZZA/ITZZA/Screen/Community/View/Storyboard/AddPost.storyboard
  ITZZA/ITZZA/Screen/Community/Xib/PostContentTableViewHeader.xib
  ITZZA/ITZZA/Screen/Community/XibController/ChatInputView.swift
  ITZZA/ITZZA/Screen/Community/XibController/PostButtonsView.swift
  ITZZA/ITZZA/Screen/Community/XibController/PostContentTableViewHeader.swift
  ITZZA/ITZZA/Screen/Community/XibController/PostContentView.swift
  ITZZA/ITZZA/Screen/Community/XibController/ProfileHeaderView.swift
  ITZZA/ITZZA/Screen/Share/Controllers/tmp.swift
  ITZZA/ITZZA/Screen/Share/Storyboard/tmp.storyboard
  ITZZA/ITZZA/Screen/Share/Xib/AddedImageCVC.xib
  ITZZA/ITZZA/Screen/Share/Xib/ImageAddBar.xib
  ITZZA/ITZZA/Screen/Share/Xib/ImageCollectionView.xib
  ITZZA/ITZZA/Screen/Share/Xib/ImageScrollView.xib
  ITZZA/ITZZA/Screen/Share/Xib/PostContentView.xib
  ITZZA/ITZZA/Screen/Share/Xib/PostWriteView.xib
  ITZZA/ITZZA/Screen/Share/XibControllers/AddedImageCVC.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/ImageAddBar.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/ImageCollectionView.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/ImageScrollView.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/PostContentView.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/PostWriteView.swift
Labels: 윤경, View, Priority: High, Chore

#38 Feat/#30 post buttons view action
  ITZZA/ITZZA/Global/Network/APISession.swift
  ITZZA/ITZZA/Screen/Community/Cell/TVC/PostTVC.swift
  ITZZA/ITZZA/Screen/Community/Model/PostManager.swift
  ITZZA/ITZZA/Screen/Community/Xib/PostButtonsView.xib
  ITZZA/ITZZA/Screen/Community/XibController/PostButtonsView.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignInVM.swift
Labels: 윤경, 커뮤니티, Feature, Network

#42 Feat/#39 get post detail
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Community/Cell/TVC/PostTVC.swift
  ITZZA/ITZZA/Screen/Community/CommunityVM.swift
  ITZZA/ITZZA/Screen/Community/Model/CommentModel.swift
  ITZZA/ITZZA/Screen/Community/Model/PostManager.swift
  ITZZA/ITZZA/Screen/Community/Model/PostModel.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CategoryVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/PostDetailVC.swift
  ITZZA/ITZZA/Screen/Community/View/Storyboard/Category.storyboard
  ITZZA/ITZZA/Screen/Community/View/Storyboard/PostDetail.storyboard
  ITZZA/ITZZA/Screen/Community/Xib/ProfileHeaderView.xib
  ITZZA/ITZZA/Screen/Community/XibController/CommentTVC.swift
  ITZZA/ITZZA/Screen/Community/XibController/PostButtonsView.swift
  ITZZA/ITZZA/Screen/Community/XibController/PostContentTableViewHeader.swift
  ITZZA/ITZZA/Screen/Community/XibController/ProfileHeaderView.swift
Labels: 윤경, 커뮤니티, View, Priority: Medium, Feature, Network

#49 [FIX]: userId 저장 오류 해결
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignInVM.swift
  ITZZA/ITZZA/Support/AppDelegate.swift
Labels: 인제, Priority: Critical, Fix

#51 Feat/#47 calendar datasource
  ITZZA/ITZZA/Global/Extension/KeychainWrapper+.swift
  ITZZA/ITZZA/Global/Network/APIService.swift
  ITZZA/ITZZA/Global/Network/APISession.swift
  ITZZA/ITZZA/Screen/Home/Model/HomeModel.swift
  ITZZA/ITZZA/Screen/Home/View/Controller/HomeVC.swift
  ITZZA/ITZZA/Screen/Home/View/Storyboard/Home.storyboard
  ITZZA/ITZZA/Screen/Home/ViewModel/HomeVM.swift
  ITZZA/ITZZA/Support/AppDelegate.swift
Labels: 인제, 홈(다이어리)탭, Priority: Medium, Feature, Network

#50 Feat/#43 community search view
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/Notification+.swift
  ITZZA/ITZZA/Global/Extension/Notification+Name.swift
  ITZZA/ITZZA/Global/Factory/TypeOfViewController.swift
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Community/Cell/TVC/HistoryTVC.swift
  ITZZA/ITZZA/Screen/Community/Cell/TVC/PostTVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/AddPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CategoryVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CommunityVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/SearchPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/UserPostListVC.swift
  ITZZA/ITZZA/Screen/Community/View/Storyboard/Community.storyboard
  ITZZA/ITZZA/Screen/Community/View/Storyboard/SearchPost.storyboard
  ITZZA/ITZZA/Screen/Community/View/Storyboard/UserPostList.storyboard
  ITZZA/ITZZA/Screen/Community/Xib/CommentTVC.xib
  ITZZA/ITZZA/Screen/Community/Xib/ProfileHeaderView.xib
  ITZZA/ITZZA/Screen/Community/Xib/SearchedUserTVC.xib
  ITZZA/ITZZA/Screen/Community/XibController/CategoryBottomSheetVC.swift
  ITZZA/ITZZA/Screen/Community/XibController/CommentTVC.swift
  ITZZA/ITZZA/Screen/Community/XibController/PostButtonsView.swift
  ITZZA/ITZZA/Screen/Community/XibController/PostContentTableViewHeader.swift
  ITZZA/ITZZA/Screen/Community/XibController/SearchedUserTVC.swift
  ITZZA/ITZZA/Screen/Share/Xib/KeywordContentCVC.xib
  ITZZA/ITZZA/Screen/Share/Xib/KeywordContentTVC.xib
  ITZZA/ITZZA/Screen/Share/Xib/KeywordContentView.xib
  ITZZA/ITZZA/Screen/Share/Xib/TabView.xib
  ITZZA/ITZZA/Screen/Share/XibControllers/KeywordContentCVC.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/KeywordContentTVC.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/KeywordContentView.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/TabCVC.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/TabView.swift
Labels: 윤경, 커뮤니티, View, Priority: Medium, Feature

#54 Feat/#52 community post post
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/Notification+Name.swift
  ITZZA/ITZZA/Global/Network/APISession.swift
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Community/Model/ImagesModel.swift
  ITZZA/ITZZA/Screen/Community/Model/PostModel.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/AddPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Storyboard/AddPost.storyboard
  ITZZA/ITZZA/Screen/Community/XibController/CategoryBottomSheetVC.swift
  ITZZA/ITZZA/Screen/Enum/CommunityType.swift
  ITZZA/ITZZA/Screen/Share/Xib/AlertView.xib
  ITZZA/ITZZA/Screen/Share/Xib/ImageAddBar.xib
  ITZZA/ITZZA/Screen/Share/XibControllers/AlertView.swift
Labels: 윤경, 커뮤니티, View, Priority: Medium, Feature, Network

#56 [FEAT]: 일기 data source와 일기 뷰 묶기
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Home/View/Controller/DiaryVC.swift
  ITZZA/ITZZA/Screen/Home/View/Controller/HomeVC.swift
  ITZZA/ITZZA/Screen/Home/View/Controller/WriteDiaryVC.swift
  ITZZA/ITZZA/Screen/Home/View/Shared/Xib/EmojiAnimationView.xib
  ITZZA/ITZZA/Screen/Home/View/Shared/Xib/EmptyDiaryView.xib
  ITZZA/ITZZA/Screen/Home/View/Shared/XibController/EmojiAnimationView.swift
  ITZZA/ITZZA/Screen/Home/View/Shared/XibController/EmptyDiaryView.swift
  ITZZA/ITZZA/Screen/Home/ViewModel/HomeVM.swift
Labels: 인제, 홈(다이어리)탭, View, Priority: Medium, Feature

#58 [FEAT]: 일기 작성 뷰 이미지 추가 버튼 기능 구현
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Screen/Community/View/Storyboard/AddPost.storyboard
  ITZZA/ITZZA/Screen/Home/View/Controller/WriteDiaryVC.swift
  ITZZA/ITZZA/Screen/Home/ViewModel/WriteDiaryVM.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/ImageCollectionView.swift
Labels: 인제, 홈(다이어리)탭, Priority: Medium, Feature

#60 Feat/#55 post edit event
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Extension/Notification+Name.swift
  ITZZA/ITZZA/Global/Network/APISession.swift
  ITZZA/ITZZA/Screen/Community/Cell/TVC/CommentCountTVC.swift
  ITZZA/ITZZA/Screen/Community/Model/PostModel.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/AddPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CategoryVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/PostDetailVC.swift
  ITZZA/ITZZA/Screen/Community/View/Storyboard/AddPost.storyboard
  ITZZA/ITZZA/Screen/Community/Xib/PostContentTableViewHeader.xib
  ITZZA/ITZZA/Screen/Community/Xib/ProfileHeaderView.xib
  ITZZA/ITZZA/Screen/Community/XibController/CommentTVC.swift
  ITZZA/ITZZA/Screen/Community/XibController/MenuBottomSheet.swift
  ITZZA/ITZZA/Screen/Community/XibController/PostButtonsView.swift
  ITZZA/ITZZA/Screen/Community/XibController/PostContentTableViewHeader.swift
  ITZZA/ITZZA/Screen/Community/XibController/ProfileHeaderView.swift
  ITZZA/ITZZA/Screen/Share/Xib/PostWriteView.xib
  ITZZA/ITZZA/Screen/Share/XibControllers/ImageCollectionView.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/PostContentView.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/PostWriteView.swift
  ITZZA/ITZZA/Support/Assets.xcassets/Bookmark.imageset/Bookmark.png
  ITZZA/ITZZA/Support/Assets.xcassets/Comment.imageset/Comment.png
  ITZZA/ITZZA/Support/Assets.xcassets/Heart.imageset/Heart.png
Labels: 윤경, 커뮤니티, View, Priority: Medium, Feature, Network

#63 Feat/#61 community search
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Community/Cell/TVC/HistoryTVC.swift
  ITZZA/ITZZA/Screen/Community/Model/PostModel.swift
  ITZZA/ITZZA/Screen/Community/Model/SearchKeywordModel.swift
  ITZZA/ITZZA/Screen/Community/Model/SearchedResultModel.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/SearchPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/UserPostListVC.swift
  ITZZA/ITZZA/Screen/Community/View/Storyboard/UserPostList.storyboard
  ITZZA/ITZZA/Screen/Community/XibController/SearchedUserTVC.swift
  ITZZA/ITZZA/Screen/Share/Xib/NoneSearchedContentTVC.xib
  ITZZA/ITZZA/Screen/Share/XibControllers/KeywordContentCVC.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/KeywordContentView.swift
Labels: 윤경, 커뮤니티, View, Priority: Medium, Feature, Network

#64 [FEAT]: 작성한 일기 서버에 저장
  ITZZA/ITZZA/Screen/Home/Model/HomeModel.swift
  ITZZA/ITZZA/Screen/Home/View/Controller/HomeVC.swift
  ITZZA/ITZZA/Screen/Home/View/Controller/WriteDiaryVC.swift
  ITZZA/ITZZA/Screen/Home/View/Shared/XibController/EmotionView.swift
  ITZZA/ITZZA/Screen/Home/ViewModel/HomeVM.swift
  ITZZA/ITZZA/Screen/Home/ViewModel/WriteDiaryVM.swift
Labels: 인제, 홈(다이어리)탭, Priority: Medium, Feature, Network

#67 [FEAT]: myRecordView UI 구현
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Global/Factory/TypeOfViewController.swift
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CommunityVC.swift
  ITZZA/ITZZA/Screen/Mypage/View/Controller/MyRecordVC.swift
  ITZZA/ITZZA/Screen/Mypage/View/Storyboard/MyRecord.storyboard
  ITZZA/ITZZA/Screen/Share/XibControllers/KeywordContentCVC.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/KeywordContentTVC.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/KeywordContentView.swift
Labels: 윤경, 마이페이지, View, Priority: Medium, Feature

#69 [FEAT]: myRecoardView 서버 연결
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Screen/Community/Model/MyRecordData.swift
  ITZZA/ITZZA/Screen/Community/View/Storyboard/SearchPost.storyboard
  ITZZA/ITZZA/Screen/Mypage/View/Controller/MyRecordVC.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/KeywordContentCVC.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/KeywordContentView.swift
Labels: 윤경, 마이페이지, Priority: Medium, Feature, Network

#72 [FEAT]: Mypage Networking
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Screen/Home/Model/HomeModel.swift
  ITZZA/ITZZA/Screen/Mypage/Model/MypageModel.swift
  ITZZA/ITZZA/Screen/Mypage/Model/j.swift
  ITZZA/ITZZA/Screen/Mypage/View/Controller/MypageVC.swift
  ITZZA/ITZZA/Screen/Mypage/View/Share/XibController/MypageCVC.swift
  ITZZA/ITZZA/Screen/Mypage/ViewModel/MypageVM.swift
  ITZZA/ITZZA/Screen/Mypage/ViewModel/i.swift
Labels: 인제, 마이페이지, Priority: Low, Feature, Network

#74 Feat/#62 onboarding
  ITZZA/ITZZA.xcodeproj/project.pbxproj
  ITZZA/ITZZA/Base.lproj/LaunchScreen.storyboard
  ITZZA/ITZZA/Global/Extension/UIButton+.swift
  ITZZA/ITZZA/Global/Factory/TypeOfViewController.swift
  ITZZA/ITZZA/Global/Struct/Identifiers.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/CommunityVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/PostDetailVC.swift
  ITZZA/ITZZA/Screen/Community/View/Controller/SearchPostVC.swift
  ITZZA/ITZZA/Screen/Community/View/Storyboard/Category.storyboard
  ITZZA/ITZZA/Screen/Community/View/Storyboard/PostDetail.storyboard
  ITZZA/ITZZA/Screen/Community/XibController/PostButtonsView.swift
  ITZZA/ITZZA/Screen/Community/XibController/PostContentTableViewHeader.swift
  ITZZA/ITZZA/Screen/Onboarding/Onboarding.storyboard
  ITZZA/ITZZA/Screen/Onboarding/OnboardingVC.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/KeywordContentView.swift
  ITZZA/ITZZA/Screen/Share/XibControllers/TabView.swift
  ITZZA/ITZZA/Support/AppDelegate.swift
  ITZZA/ITZZA/Support/Assets.xcassets/Logo-1.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Logo-1.imageset/Logo.png
  ITZZA/ITZZA/Support/Assets.xcassets/Onboarding_1.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Onboarding_1.imageset/Onboarding_1.png
  ITZZA/ITZZA/Support/Assets.xcassets/Onboarding_2.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Onboarding_2.imageset/Onboarding_2.png
  ITZZA/ITZZA/Support/Assets.xcassets/Onboarding_3.imageset/Contents.json
  ITZZA/ITZZA/Support/Assets.xcassets/Onboarding_3.imageset/Onboarding_3.png
  ITZZA/ITZZA/Support/Info.plist
Labels: 윤경, View, Priority: Medium, Feature

#76 [FEAT]: myRecoard 화면 연결
  ITZZA/ITZZA/Screen/Mypage/View/Controller/MyRecordVC.swift
  ITZZA/ITZZA/Screen/Mypage/View/Controller/MypageVC.swift
  ITZZA/ITZZA/Screen/Mypage/View/Storyboard/Mypage.storyboard
Labels: 윤경, 마이페이지, View, Priority: Medium, Chore

#80 [FIX]: Server URL 수정과 JSON data 형식 수정 및 400번대 에러 처리
  ITZZA/ITZZA/Global/Network/APISession.swift
  ITZZA/ITZZA/Screen/Sign/Model/NicknameModel.swift
  ITZZA/ITZZA/Screen/Sign/Model/SignInModel.swift
  ITZZA/ITZZA/Screen/Sign/Model/SignUpModel.swift
  ITZZA/ITZZA/Screen/Sign/View/Controller/SignInVC.swift
  ITZZA/ITZZA/Screen/Sign/View/Shared/XibController/NicknameView.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/NicknameVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignInVM.swift
  ITZZA/ITZZA/Screen/Sign/ViewModel/SignUpVM.swift
Labels: 인제, Priority: Low, Fix, Network, 계정관리
